{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Pyluv Blog</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{% static 'pyluv_favicon/favicon.ico' %}" />
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
        <link rel='stylesheet' href="{% static 'css/pyluv-style.css' %}">
        <link rel='stylesheet' href="{% static 'pyluv_blog/css/style.css' %}">
    </head>
    <body>
        <header class="pyluv-navbar">
            <div class="pyluv-navbar-logo">
                Pyluv
                <img style="margin-left: 4px; height: 34px;" src="{% static 'pyluv_home/img/heart.png' %}">
            </div>
            <div class="pyluv-navbar-button">
                <a href="/home">
                    Home
                </a>
                <a href="/blog">
                    Blog
                </a>
                <a href="/api">
                    API
                </a>
            </div>
        </header>
        <section class="pyluv-container">
            {% block content %}
            {% endblock %}
        </section>
    </body>
    <script src="{% static 'pyluv_blog/js/script.js' %}"></script>    
</html>