.pyluv-navbar-startpage{
    display: none;
}

.pyluv-home-header{
    font-family: 'Playfair Display', serif;
    user-select: none;
    font-size: 64pt; 
    text-align: center;
}

.pyluv-home-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}